/* ----------------------- */
/* Custom properties       */
/* ----------------------- */

:root {
  /* colors */
  --clr-dark-purple: #301534;
  --clr-pale-purple: #8B6990;
  --clr-light-pink: #F8EEFF;
  --clr-pink: #AD28EB;
  --clr-white: #FFFFFF;

  /* fonts sizes*/
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-450: 1.5rem;
  --fs-425: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  /* line height */

  --lh-150: 1.5;

  /* font weight*/

  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;

  /* font-families */
  --ff-sans-normal: "Work Sans", sans-serif;
}

/* ----------------------- */
/* Reset                   */
/* ----------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
  color: var(--clr-pale-purple);
  background-color: var(--clr-light-pink);
  min-height: 100vh;
}

/* make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off*/

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------- */
/* Utility classes         */
/* ----------------------- */

body{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background: url(./assets/images/background-pattern-mobile.svg) no-repeat top center;
 background-size: auto;
 background-color: var(--clr-light-pink);
}

.container {
  position: absolute;
  z-index: ;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 0 24px;
}

.card {
  display: flex;
  justify-content: right;
  justify-items: right;
  flex-direction: column;
  gap: 24px;
  background-color: var(--clr-white);
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 32px 56px rgba(80, 0, 118, 0.1);
  width: 327px;
}

.faqs {
  display: flex;
  align-items: center;
  gap: 24px;
}

.star {
  width: 24px;
  height: 24px;
}

.accordion-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  border: none;
  background-color: var(--clr-white);
  padding: 0;
  width: 100%;
  text-align: left;
}

.title-accordion {
  font-weight: var(--fw-600);
  font-size: var(--fs-300);
  padding: 0;
  width: 225px;
}

.icon-plus-minus {
  width: 30px;
  height: 30px;
}

hr {
  margin: 20px 0;
  height: 1px;
  border: none;
  background-color: var(--clr-light-pink);
}

.accordion-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion-content {
  line-height: var(--lh-150);
  display: none;
}

.accordion-content.open {
  display: block;
}

.fs-600 {font-size: var(--fs-600);}

.fw-700 {font-weight: var(--fw-700);}
.fw-600 {font-weight: var(--fw-600);}

.lh-150 {line-height: var(--lh-150);}

.text-color-black {color: var(--clr-dark-purple);}

/* ----------------------- */
/* Components              */
/* ----------------------- */

button:hover {
  cursor: pointer;
}

/* ----------------------- */
/* Devices                 */
/* ----------------------- */

@media (min-width: 768px) {
  body {
    background: url(./assets/images/background-pattern-desktop.svg) no-repeat top center;
    background-color: var(--clr-light-pink);
  }

  .container {
    padding: 0;
  }

  .card {
    padding: 40px;
    gap: 32px;
    width: 600px;
    border-radius: 16px;
  }

  .star{
    width: 40px;
    height: 40px;
  }

  .title-faqs {
    font-size: var(--fs-700);
  }

  .title-accordion {
    font-size: var(--fs-400);
    width: 100%;
  }

  .accordion-button {
    justify-content: space-between;
  }

  p{
    font-size: var(--fs-300);
  }

  hr {
    margin: 24px;
  }
}

@media (min-width: 375px)  {
  body {
    background-size: contain;
  }
}

@media (orientation: landscape) {

  body {
    background: url(./assets/images/background-pattern-desktop.svg) no-repeat top center;
    margin: 5% 0;
    background-color: var(--clr-light-pink);
  }

  @media (min-width: 1024px)  {
    body {
      margin: 0;
    }
  }
}